/* Google fonts Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

/* Core styles start */

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(124.06deg, #ECFEFA 9.47%, #BEE9FF 29.35%, #DBEAFF 60.79%, #F3DBFF 85.49%);
    background-size: cover;
    overflow-x: hidden;
}

.container {
    width: 100%;
    max-width: 1266px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
}

.section-title {
    font-weight: 700;
    color: #00445b;
    font-size: 33px;
    line-height: 40px;
    letter-spacing: 0.02rem;
    margin-bottom: 30px;
    text-transform: capitalize;
}
/* Core styles end */

/* Main header styles start */

.main-header {
    padding-top: 32px;
    transition: fixed 0.5s;
}

.main-header.active {
    position: fixed;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    right: 0;
    width: 100%;
    z-index: 999;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #c3e9ff;
}


.main-header .main-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 0.02rem;
}

.main-header .main-header__brand {
    display: flex;
    align-items: center;
}

.main-header .main-header__brand img {
    width: 80px;
    height: 80px;
    margin-right: 1rem;
    transition: filter 0.5s;
}

.main-header .main-header__brand .main-header__brand-text {
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    transition: color 0.5s;
}

.main-header .main-header__navbar .main-header__navbar-link {
    color: #000;
    margin-right: 30px;
    font-size: 13.5px;
    line-height: 16px;
    font-weight: 500;
    text-transform: capitalize;
    text-decoration: none;
}

.main-header .main-header__navbar .main-header__navbar-link:last-child {
    margin-right: 0;
}

#burger {
    display: none;
    text-align: center;
    padding: 12px 10px;
    border-radius: 50%;
}

#burger div {
    width: 23px;
    height: 3px;
    margin-bottom: 5px;
    transition: all 0.5s linear;
} 

#burger div:last-child {
    margin-bottom: 0;
}

/* Main header styles end */

/* Hero section styles start */

.hero {
    margin-bottom: 73px;
}

.hero .hero-container {
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.02rem;
}

.hero .hero-info .hero-info__title {
    margin: 114px 0 20px 0;
    width: 620px;
    font-size: 53px;
    font-weight: 700;
    line-height: 65px;
}

.hero .hero-info .hero-info__about {
    width: 509px;
    font-size: 23.5px;
    font-weight: 500;
    line-height: 29px;
    margin-bottom: 60px;
}

.hero .hero-info .hero-info__btn {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    padding: 25px 48px 23px 48px;
    background: #00445B;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.hero .hero-info__image img {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    width: 100%;
}

.hero .hero-info__image .filter {
    position: absolute;
    width: 284px;
    height: 135px;
    background: #C7EAFF;
    z-index: 1;
    filter: blur(25px);
    bottom: -40px;
    right: 200px;
}

/* Hero section styles end */

/* News section styles start */
.news {
    margin-bottom: 150px;
}

.news .news-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    letter-spacing: 0.02rem;
}

.news .news-cards .news-cards__item {
    margin-right: 15px;
}

.news .news-cards .news-cards__item img {
    margin-left: -15px;
}

.news .news-cards .news-cards__item .news-cards__item-title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
}

.news .news-cards .news-cards__item .news-cards__item-date {
    font-size: 14px;
    line-height: 17px;
}

/* News section styles end */

/* Courses section styles start */

.courses {
    margin-bottom: 150px;
}

.courses .courses-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    letter-spacing: 0.02rem;
}

.courses .courses-cards .courses-cards__item {
    margin-right: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #ecfefa;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.13);
}

.courses .courses-cards .courses-cards__item:last-child {
    margin-right: 0;
}

.courses .courses-cards .courses-cards__body {
    margin: 37px 37px 0 37px;
}

.courses .courses-cards .courses-cards__body-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px;
}

.courses .courses-cards .courses-cards__body-text {
    font-size: 14px;
    margin-bottom: 20px;
}

.courses .courses-cards .courses-cards__btn-around {
    margin-bottom: 37px;
    margin-top: 30px;
}

.courses .courses-cards .courses-cards__btn {
    padding: 16px 78px;
    background: #00445b;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

/* Courses section styles end */

/* Teachers section styles start */
.teachers {
    margin-bottom: 150px;
}

.teachers .teachers-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    letter-spacing: 0.02rem;
}

.teachers .teachers-cards .teachers-cards__item {
    margin-right: 30px;
    background: #ECFEFA;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.13);
}

.teachers .teachers-cards .teachers-cards__body {
    margin: 37px;
}

.teachers .teachers-cards .teachers-cards__body-title {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
}

.teachers .teachers-cards .teachers-cards__body-info {
    font-size: 14px;
    line-height: 17px;
}

.teachers .teachers-cards .teachers-cards__body-info p {
    margin-bottom: 10px;
}

.teachers .teachers-cards .teachers-cards__body-info p:last-child {
    margin-bottom: 0;
}

/* Teachers section styles end */

/* Photos section styles start */

.photos {
    margin-bottom: 150px;
}

.photos .photos-around {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.photos .photos-around .photos-around__item {
    filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.13));
    margin-right: 15px;
}

.photos .photos-around .photos-around__item img {
    margin-left: -15px;
}

/* Photos section styles end */

/* Videos section styles start */

.videos {
    margin-bottom: 150px;
}

.videos .videos-around {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.videos .videos-around .videos-around__item {
    margin-right: 30px;
}

/* Videos section styles end */

/* Results section styles start */

.results {
    margin-bottom: 150px;
}

.results .results-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.results .results-cards .results-cards__item {
    margin-top: 80px;
    position: relative;
    background: #ecfefa;
    box-shadow: 0px 3.55979px 10.6794px rgba(0, 0, 0, 0.13);
    margin-right: 30px;
}

.results .results-cards .results-cards__item:last-child {
    margin-right: 0;
}

.results .results-cards img {
    position: absolute;
    border-radius: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.results .results-cards .results-cards__body {
    margin: 95px 37px 37px 37px;
    letter-spacing: 0.02rem;
}

.results .results-cards .results-cards__body-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.results .results-cards p {
    font-size: 14px;
    line-height: 120%;
}

.results .results-cards .university-name {
    margin-bottom: 10px;
}

/* Results section styles end */

/* Comments section styles start */

.comments {
    margin-bottom: 150px;
}

.comments .comments-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    letter-spacing: 0.02rem;
}

.comments .comments-cards .comments-cards__item {
    background: #ECFEFA;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.13);
    margin-right: 30px;
}

.comments .comments-cards .comments-cards__item:last-child {
    margin-right: 0;
}

.comments .comments-cards .comments-cards__item img {
    width: 100%;
}

.comments .comments-cards .comments-cards__body {
    margin: 35px;
}

.comments .comments-cards .comments-cards__user-name {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 10px;
}

.comments .comments-cards  p {
    font-size: 14px;
    line-height: 17px;
    color: #646464;
}

.comments .comments-cards .comments-cards__user-position {
    margin-bottom: 20px;
}

.comments .comments-cards .comments-cards__user-comment {
    margin-bottom: 20px;
}

.comments .comments-cards .ranks-around i {
    font-size: 12px;
    color: #fdb44b;
    margin-right: 3.5px;
}

.comments .comments-cards .ranks-around i:last-child {
    margin-right: 0;
}

/* Comments section styles end */

/* Contacts section styles start */

.contacts {
    margin-bottom: 150px;
}

.contacts .contacts-map {
    margin-bottom: 30px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.13);
    height: 250px;
}

.contacts .contacts-map iframe {
    width: 100%;
    height: 100%;
}

.contacts .contacts-info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.contacts .contacts-info .contacts-info__item {
    margin-right: 20px;
}

.contacts .contacts-info .contacts-info__item:last-child {
    margin-right: 0;
}

.contacts .contacts-info .contacts-info__item-about {
    display: flex;
    align-items: center;
}


.contacts .contacts-info .contacts-info__item-about i {
    color: #00445b;
}

.contacts .contacts-info .contacts-info__item-about p {
    font-size: 14px;
    margin-left: 10px;
}

.contacts .contacts-info__item:first-child .contacts-info__item-about p {
    width: 246px;
}  

.contacts .contacts-info__item:last-child .contacts-info__item-about p {
    width: 245px;
    margin-right: 14px;
}

.contacts .contacts-info__item:last-child .contacts-info__item-about a {
    margin-right: 20px;
    color: #00445B;
    text-decoration: none;
}

.contacts .contacts-info__item:last-child .contacts-info__item-about a:last-child {
    margin-right: 0;
}

/* Contacts section styles end */

/* Footer section style start */

.footer {
    background: #BEE9FF;
    padding: 50px 0;
}

.footer .form-group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 50px;
}

.footer .form-group .input-group {
    padding: 15px 14px 14px;
    color: rgba(100, 100, 100, 0.5);
    font-size: 14px;
    letter-spacing: 0.02rem;
    background: #ECFEFA;
    border: none;
    margin-right: 30px;
}

.footer .form-group .input-group:focus {
    outline: none;
}


.footer .form-group .send-btn {
    padding: 15px 14px 14px;
    background: #00445b;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
}

.footer .line {
    margin: 0 auto 65px auto;
    width: 300px;
    border: 1px solid rgba(0, 68, 91, 0.5);
}

.footer .footer-brand {
    display: flex;
    align-items: center;
    letter-spacing: 0.02rem;
}

.footer .footer-brand img {
    margin-right: 20px;
}

.footer .footer-brand h3 {
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
}

.footer .footer-brand p {
    width: 159px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}

.footer .footer-text {
    text-align: center;
    font-size: 14px;
    letter-spacing: 0.02rem;
    line-height: 17px;
}

/* Footer section style end */

/* Media query styles start */

@media screen and (max-width: 1265px) {
    .hero .hero-container {
        flex-direction: column-reverse;
        align-items: center;
    }


    .hero .hero-info .hero-info__about,
    .hero .hero-info .hero-info__title {
        width: 100%;
    }

    .hero .hero-info {
        text-align: center;
    } 

    .hero .hero-info__image {
        position: relative;
        z-index: -1;
    }

    .main-header .main-header__navbar {
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 68, 91, 1);
        top: 0;
        bottom: 0;
        left: -110%;
        transition: left 0.5s ;
        z-index: 999;
        padding-top: 30px;
    }

    .main-header .main-header__navbar.show {
        left: 0;
    }

    .main-header .main-header__brand {
        z-index: 1000;
        margin-right: 30px;
    }

    .main-header .main-header__navbar .main-header__navbar-link {
        display: block;
        margin: 40px 0;
        line-height: 30px;
        font-size: 18px;
        color: #fff;
        position: relative;
        z-index: 99;
        margin-left: 50px;
    }

    .main-header .main-header__navbar .main-header__navbar-link:first-child {
        margin-top: 100px;
    }

    #burger {
        cursor: pointer;
        display: flex;
        align-items: center;
        flex-direction: column;
        z-index: 999;
    }

    .news .news-cards,
    .photos .photos-around,
    .footer .form-group,
    .teachers .teachers-cards,
    .courses .courses-cards,
    .teachers .teachers-cards,
    .videos .videos-around,
    .results .results-cards,
    .comments .comments-cards,
    .contacts .contacts-info {
        grid-template-columns: repeat(2, 1fr);
    }

    .news .news-cards .news-cards__item,
    .courses .courses-cards .courses-cards__item,
    .teachers .teachers-cards .teachers-cards__item,
    .videos .videos-around .videos-around__item,
    .comments .comments-cards .comments-cards__item,
    .footer .form-group .input-group,
    .contacts .contacts-info .contacts-info__item  {
        margin-bottom: 30px;
    }

    .results .results-cards .results-cards__item:last-child,
    .comments .comments-cards .comments-cards__item:last-child,
    .courses .courses-cards .courses-cards__item:last-child {
        margin-right: 30px;
    }
    
    .news .news-cards .news-cards__item img,
    .courses .courses-cards .courses-cards__image,
    .courses .courses-cards .courses-cards__image img,
    .teachers .teachers-cards .teachers-cards__image,
    .teachers .teachers-cards .teachers-cards__image img,
    .photos .photos-around .photos-around__item img,
    .videos .videos-around .videos-around__item iframe{
        width: 100%;
    }

    .courses .courses-cards .courses-cards__btn {
        padding: 13px 40px;
    }
}


@media screen and (max-width: 992px) {
    .container {
        max-width: 992px;
        width: 100%;
        margin: 0 auto;
    }

    .main-header .main-header__brand img {
        width: 70px;
        height: 70px;
    }

    .main-header .main-header__brand .main-header__brand-text {
        font-size: 18px;
    }

    .hero .hero-info__image {
        width: 100%;
    }

    .hero .hero-info__image .filter {
        left: 10px;
        filter: blur(20px);
        bottom: -60px;
        width: 100%;
    }

    .hero .hero-info .hero-info__title {
        font-size: 30px;
        line-height: 30px;
    }

    .hero .hero-info .hero-info__about {
        font-size: 18px;
        line-height: 18px;
    }

    .news .news-cards,
    .photos .photos-around,
    .footer .form-group,
    .teachers .teachers-cards,
    .courses .courses-cards,
    .teachers .teachers-cards,
    .videos .videos-around,
    .results .results-cards,
    .comments .comments-cards,
    .contacts .contacts-info {
        grid-template-columns: 100%;
    }

    .results .results-cards .results-cards__item,
    .comments .comments-cards .comments-cards__item,
    .courses .courses-cards .courses-cards__item,
    .results .results-cards .results-cards__item{
        margin-right: 30px;
    }

    .results .results-cards .results-cards__item,
    .comments .comments-cards .comments-cards__item,
    .courses .courses-cards .courses-cards__item,
    .results .results-cards .results-cards__item,
    .teachers .teachers-cards .teachers-cards__item,
    .videos .videos-around .videos-around__item {
        width: 102%;
    }

    .footer .form-group .input-group {
        width: 100%;
    }

    .photos .photos-around .photos-around__item {
        width: 106%;
    }

    .news .news-cards .news-cards__item {
        width: 110%;
    }

    .photos .photos-around .photos-around__item img {
        width: 103%;
    }

    .footer .line {
        width: 100%;
    }

    .footer .footer-brand {
        margin-bottom: 20px;
        text-align: center;
        display: block;
    }

    .footer .footer-brand img {
        width: 70px;
        height: 70px;
    }

    .footer .footer-brand__body h3 {
        font-size: 18px;
    }

    .footer .footer-brand__body p {
        font-size: 14px;
        width: 100%;
    }
}


#burger.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

#burger.toggle .line2 {
    opacity: 0;
}

#burger.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}
